<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.TRASUAConnectionString" connectionString="Data Source=xiziu;Initial Catalog=TRASUA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.TRASUAConnectionString1" connectionString="Data Source=(local);Initial Catalog=TRASUA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>